button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    all: unset;
    font: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    opacity: 0.9;
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    border-radius: 0.5em;
    outline-width: 0.25em;
    outline-style: solid;
}

button.outline,
input[type="submit"].outline,
input[type="reset"].outline,
input[type="button"].outline {
    border-width: 0.125em;
    border-style: solid;
    background-color: transparent;
}

button.outline:focus,
input[type="submit"].outline:focus,
input[type="reset"].outline:focus,
input[type="button"].outline:focus {
    outline-width: 0.15em;
    outline-style: solid;
}

/* COLOURS */



