.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8888;
    background-color: var(--dark);
    opacity: 0.5;
}

.modal {
    width: calc(100vw - 1em);
    max-width: 30em;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0.5em;  
    
    z-index: 9999;
}

.modal {
    border-style: solid;
    
}

.modal {
    background-color: var(--light);
    border-color: var(--secondary-300);
}

.modal-header,
.modal-footer {
    border-color: var(--secondary-200);
}

.modal-header {
   border-bottom-style: solid; 
}

.modal-footer {
    border-top-style: solid;
}

.modal,
.modal-header,
.modal-footer {
    border-width: 0.0625rem;
    
}

.modal-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--h4-size);
    font-weight: 500;
}

.modal-body {
    width: 100%;
    padding: 1em 1em 2em;
}

.modal-footer {
    width: 100%;
    padding: 1em;
}

.close-button {
    background-color: transparent;
    color: var(--secondary-500);
    margin: 0;
    padding: 0.2em;
}

.close-button:focus {
    outline-color: var(--primary-200);
}

@media (prefers-color-scheme: light) {
    .modal {
        background-color: inherit;
        color: inherit;
    }
}